.contenedor {
  display: grid;
  grid-template-columns: auto repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100dvh;
}

.contenedor_sidebar {
  grid-column: 1 / 1;
  grid-row: 2 / 11;
  min-width: 150px;
  background-color: aliceblue;
}

.contenedor_upperbar {
  grid-column: 1 / 13;
  grid-row: 1 / 1;
  background-color: beige;
}